<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GK Test Suit" parallel="classes">
    <listeners>
        <listener class-name="utility.Listener"/>
    </listeners>
    <test verbose="2" name="C:/SoftServe/EasyRestTestTraining">
        <parameter name="os" value="Windows"/>
        <parameter name="osVersion" value="10"/>
        <parameter name="browserName" value="Chrome"/>
        <parameter name="browserVersion" value="latest"/>
        <classes>
            <class name="tests.waiter.WaiterOrderStatusTest">
            </class>
            <class name="tests.moderator.ModeratorRestaurantStatusTest">
            </class>
            <class name="tests.moderator.ModeratorClientStatusTest">
            </class>
            <class name="tests.moderator.ModeratorOwnerStatusTest">
            </class>
            <class name="tests.administrator.AdministratorPageTest">
            </class>
        </classes>
    </test>
</suite>
