<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All chosen tests" >
    <test name="Tests" >


        <classes>
            <class name="tests.LoginTest"></class>
            <class name="tests.RegistrationTest"></class>
        </classes>
    </test>
</suite>